<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/aprobar.css">
  <%- include('./partials/boostrap.ejs') %>
    <title>APROBAR</title>
</head>



<body>
  <!--Contenedor de logos-->
  <%- include('./partials/iconos.ejs') %>
  <!--Contenedor de la imagen-->
  <div class="container">
    <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
  </div>
  <!-- contenedor del menu -->
  <nav>
    <ul>
      <li><a href="#">Inicio</a></li>
      <li>
        <a href="aprobar">Aprobar</a>
      </li>
      <li>
        <a href="seguimiento">Seguimiento</a>
      </li>
      <li>
        <a href="reportes">Reportes</a>
      </li>
    </ul>
  </nav>
  



  <div class="fondo rounded-top">
    <div class="container-letrero rounded-top">
      <div class="titulo"> Solicitudes De Prestamos</div>

      <div class="buscador">
        <input type="text" placeholder="Buscar" required>
        <div class="btn">
          <i class="fas fa-search icon"></i>

        </div>
      </div>
    </div>
 

    <div class="table-wrapper">
      <table class="table table-borderless" id="tabla-solicitudes">
        <thead>
        
          <tr class="bg-success">
            <th>PRODUCTO</th>
            <th>CANTIDAD</th>
            <th>ESTADO</th>
            <th>OPCIONES</th>
          </tr>
        </thead>
        <tbody>
           <% datos.forEach((elemento)=>{ %>
            <tr>
              <td><%= elemento.NOMBRE %></td>
              <td><%= elemento.CANTIDAD %></td>
              <td><%= elemento.ESTADO %></td>
              <td> 
                <i class="fas fa-trash-alt delete-icon trash-icon"></i>  
                <i class="fas fa-edit edit-icon mr-1" data-toggle="modal" data-target="#edit-modal"></i>
              </td>
            </tr>
          <% }); %>
          
          
        </tbody>
      </table>
    </div>



</body>
<script src="/resources/js/inventario.js"></script>
<script src="/resources/js/aprobar.js"></script>
<script src="/resources/js/iconos.js"></script>
</html>