<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/materiales.css">
    <%- include('./partials/boostrap.ejs') %> 
    <title>Materiales</title>
</head>

<body>

  <%- include('./partials/administrador.ejs') %>



  <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control mr-3" placeholder="Buscar material" id="search-input">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" id="search-button">
                <i class="fas fa-search"></i>
              </button>
              <form id="generarForm" method="POST">
                <input type="hidden" name="datos">
                <button class="btn btn-outline-danger ml-2" type="submit" onclick="setAction('pdf')">
                  <i class="fa-regular fa-file-pdf"></i>
                </button>
                <button class="btn btn-outline-success ml-2" type="submit" onclick="setAction('excel')">
                  <i class="fa-regular fa-file-excel"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="table-wrapper">
            <table class="table table-borderless" id="tabla-solicitudes">
              <thead>
                <tr class="bg-success">
                  <th>ID</th>
                  <th>TIPO</th>
                  <th>COLOR</th>
                  <th>MEDIDAS</th>
                  <th>OPCIONES</th>
                </tr>
              </thead>
              <tbody>
                <% datos.forEach((elemento)=>{ %>
                  <tr data-id=<%= elemento.ID_MATERIAL %>>
                    <td><%= elemento.ID_MATERIAL %></td>
                    <td><%= elemento.TIPO %></td>
                    <td><%= elemento.MEDIDAS %></td>
                    <td><%= elemento.COLOR %></td>

                    <td> 
                      <i class="fas fa-trash-alt delete-icon trash-icon"></i>  
                      <i class="fas fa-edit edit-icon mr-1" data-toggle="modal" data-target="#edit-modal"></i>
                    </td>
                  </tr>
                <% }); %>
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-modal-label">Editar material</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="edit-tipo" class="col-form-label">Tipo:</label>
            <input type="text" class="form-control" id="edit-tipo">
          </div>
          <div class="form-group">
            <label for="edit-color" class="col-form-label">Color:</label>
            <input type="text" class="form-control" id="edit-color">
          </div>
          <div class="form-group">
            <label for="edit-medida" class="col-form-label">Medida:</label>
            <input type="text" class="form-control" id="edit-medida">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success edit-button guardar-cambios">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
</body>
<%- include('./partials/footer.ejs') %>
<script src="/resources/js/materiales.js"></script>
</html>
<!--V3-->