<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/css/pcAdmin.css">
    <%- include('./partials/boostrap.ejs') %> 
    <title>PC</title>
</head>

<body>

  <%- include('./partials/administrador.ejs') %>



  <div class="container mt-4">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input type="text" class="form-control mr-3" placeholder="Buscar herramienta" id="search-input">
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" id="search-button">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
          <div class="table-wrapper">
            <table class="table table-borderless" id="tabla-solicitudes">
              <thead>
                <tr class="bg-success">
                  <th>ID</th>
                  <th>MARCA</th>
                  <th>CARGADOR</th>
                  <th>MOUSE</th>
                </tr>
              </thead>
              <tbody>
                <% datos.forEach((elemento)=>{ %>
                  <tr data-id=<%= elemento.ID_COMPUTADOR %>>
                    <td><%= elemento.ID_COMPUTADOR %></td>
                    <td><%= elemento.MARCA %></td>
                    <td><%= elemento.CARGADOR %></td>
                    <td><%= elemento.MOUSE %></td>
                    <td> 
                      <i class="fas fa-trash-alt delete-icon trash-icon"></i>  
                      <i class="fas fa-edit edit-icon mr-1" data-toggle="modal" data-target="#edit-modal"></i>
                    </td>
                  </tr>
                <% }); %>
                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="edit-modal-label">Editar equipo</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="edit-estado" class="col-form-label">Estado:</label>
          <select class="form-control" id="edit-estado">
            <option value="DISPONIBLE">DISPONIBLE</option>
            <option value="NO DISPONIBLE">NO DISPONIBLE</option>
          </select>
        </div>
        <div class="form-group">
          <label for="edit-marca" class="col-form-label">Marca:</label>
          <input type="text" class="form-control" id="edit-marca">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn btn-success" id="guardar-cambios">Guardar cambios</button>
    </div>
  </div>
</div>
</div>  
</body>
<%- include('./partials/footer.ejs') %>
<script src="/js/pcAdmin.js"></script>
</html>
<!--V3-->