<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/resources/css/seguimiento.css">
  <%- include('./partials/boostrap.ejs') %>
    <title>Seguimiento</title>
</head>



<body>
  <!--Contenedor de logos-->
  <%- include('./partials/iconos.ejs') %>
    <!--Contenedor de la imagen-->
    <div class="container">
      <img src="/resources/img/logoSena.png" width="200px" class="mx-auto d-block">
    </div>
    <!-- contenedor del menu -->
    <nav>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li>
          <a href="aprobar">Aprobar</a>
        </li>
        <li>
          <a href="seguimiento">Seguimiento</a>
        </li>
        <li>
          <a href="reportes">Reportes</a>
        </li>
      </ul>
    </nav>
    <table id="tabla-solicitudes">
      <thead>
        <tr>
          <th>Solicitudes Aprobadas</th>
          <th>Fecha</th>
          <th>Número de Insumos</th>
          <th>
            <div class="buscador">
              <input type="text"  placeholder="Buscar" id="search-input" required>
              <div class="btnbuscar" id="search-button">
              <label for="search-input"><i class="fas fa-search icon" style="color: #faf8f8;;"></i></label>
            </div>
          </div>
        </th>

        </tr>
      </thead>
      
      <tbody class="fondo">
       
          <% datosMaterial.forEach((material, index) => { %>
            <tr class="info">
              <td>
                <h4 class="info1"><%= material.NOMBRE %>, <%= material.TIPO %>, <%= material.COLOR %></h4>
               </td>
              <td>
                <% if (datosPrestamos[index]) { %>
                  <h5 class="info1"><%= datosPrestamos[index].FECHA_PRESTAMO %></h5>
                <% } else { %>
                  <h5 class="info1">-</h5> 
                <% } %>
              </td>
              <td>
                <h5 class="info1"><%= material.CANTIDAD %>, <%= material.MEDIDAS %></h5>
              </td>
              <td>
                <i class="fa-sharp fa-solid fa-eye fa-2x" data-toggle="modal" data-target="#edit-modal"></i>
              </td>
            </tr>
          <% }); %>
       



        <!-- SOLICITUD NO APROBADAS -->
      </tbody>
    </table>

    <table id="tabla-solicitudes">
      <thead>
        <tr>
          <th>Solicitudes No Aprobadas</th>
          <th>Fecha</th>
          <th>Número de Insumos</th>
          <th>Aprobar</th>
          <th>
            <div class="buscador">
              <input type="text" id="buscar-solicitudes" placeholder="Buscar" required>
              <label for="buscar-solicitudes"><i class="fas fa-search icon" style="color: #faf8f8;;"></i></label>
            </div>

        </tr>
      </thead>
      <tbody class="fondo">
        <tr class="info">
        <tr class="info">
          <td>
            <h4 class="info1">Información del Insumo</h4>
          </td>

          <td class="center">
            <h5 class="info1">dd/mm/aaaa </h5>
          </td>
          <td>
            <h4 class="info1">Cantidad</h4>
          </td>
          <td>
            <i class="fa-sharp fa-regular fa-circle-check fa-2x" style="color: #000000;"></i>
            <i class="fa-sharp fa-regular fa-circle-xmark fa-2x" style="color: #000000;"></i>
          </td>
          <td>

            <i class="fa-sharp fa-solid fa-envelope fa-2x" style="color: #8fd14f;"></i>
            <i class="fa-sharp fa-solid fa-eye fa-2x" data-toggle="modal" data-target="#edit-modal"></i>
          </td>
        </tr>
  <!-- Modal OBSERVACION -->
  <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-modal-label">OBSERVACIONES</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <p>Agregue Una Observacion</p>
              <textarea required="" class="form-control" id="elcontent" name="content" rows="10" data-rule="required"
                  data-msg="Please write something for us" placeholder="El insumo ha sido rechazado ya que..."></textarea>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" id="guardar-cambios">Guardar cambios</button>
        </div>
      </div>
    </div>
    </div>  
    </body>

      </tbody>
      <tfoot>
        <tr>

          </td>
        </tr>
      </tfoot>
    </table>
</body>
<script src="/resources/js/seguimiento.js"></script>
<script src="/resources/js/iconos.js"></script>
<footer id="footer-test">
  <p>DERECHOS RESERVADOS SENA</p>
</footer>

</html>